<footer>
    <div class="f-info">

    <div class="f-info-socials">
   <a href="#"><i class="fa-brands fa-square-facebook"></i> </a>
    <a href="https://www.instagram.com/jeffrin_samuel/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
   <a href="https://www.linkedin.com/in/jeffrin-samuel-236452210/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="f-info-brand">&copy; RoyalRetreats Private Limited</div> <!-- &copy -> Copyright symbol -->
    <div class="f-info-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>
</footer>



<style>
   .f-info-socials a i {
    color: black; /* default icon color */
    transition: color 0.3s ease; /* smooth hover effect */
}

.f-info-socials a:hover i {
    color: #fe424d; /* Airbnb pink */
}

</style>