<% layout("/layouts/boilerplate") %>

<div class="row mt-4"> 
  <div class="col-6 offset-2"> 
    <h1>SignUp on RoyalRetreats</h1>

    <form method="POST" action="/signup" class="mt-4 needs-validation" novalidate>
      
      <!-- Username -->
      <div class="mb-3"> 
        <label for="username" class="form-label">Username</label> 
        <input id="username" name="username" type="text" class="form-control" required />
        <div class="valid-feedback">Looks good!</div>  
      </div>

      <!-- Email -->
      <div class="mb-3"> 
        <label for="email" class="form-label">Email</label> 
        <input id="email" name="email" type="email" class="form-control" required /> 
        <div class="invalid-feedback">Please enter a valid email</div>
      </div>

      <!-- Password -->
      <div class="mb-3"> 
        <label for="password" class="form-label">Password</label> 
        <input id="password" name="password" type="password" class="form-control" minlength="6" required />
        <div class="invalid-feedback">Password must be at least 6 characters long</div>
      </div>

      <button class="btn btn-success">SignUp</button>  

      <div class="mt-3 text-center">
        <span class="text-muted me-1">Already a user?</span>
        <a href="/login" class="text-decoration-none fw-semibold">Login</a>
      </div>

    </form>
  </div>
</div>
