<% layout("/layouts/boilerplate") %>

<body>
  <div class="container mt-5">
    <% if (currUser) { %>
      <h2>Your Wishlist</h2>

      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

        <% if (allListings.length > 0) { %>
          <% allListings.forEach(listing => { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
              <div class="card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
                <div class="card-body">
                  <p class="card-text">
                    <b><%= listing.title %></b><br>
                    ₹<%= listing.price.toLocaleString("en-IN") %>/night
                  </p>
                </div>
              </div>
            </a>
          <% }) %>

        <% } else { %>
          <p>No items in wishlist yet.</p>
          
        <% } %>
      </div>

    <% } else { %>
      <h3>User not found</h3>
    <% } %>
  </div>
</body>
